
<header>

    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a
                (click)="rota(1)"
                [ngClass] = "{'active': ids == 1}"
                class="list-group-item list-group-item-action py-2 ripple"
            >
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Início</span>
            </a>
            <a 
                (click)="rota(2)" 
                [ngClass] = "{'active': ids == 2}"
                class="list-group-item list-group-item-action py-2 ripple"
            >
                <i class="fas fa-car fa-fw me-3"></i><span>Veículos</span>
            </a>
            <a 
                (click)="rota(99)" 
               
                class="list-group-item list-group-item-action py-2 ripple"
            >
                <span>Sair</span>
            </a>
            <!-- <a
                (click)="rota(3)"
                [ngClass] = "{'active': ids == 3}"
                class="list-group-item list-group-item-action py-2 ripple"
            >
                <i class="fas fa-briefcase fa-fw me-3"></i><span>Serviços</span>
            </a
            >
            <a 
                (click)="rota(4)"
                [ngClass] = "{'active': ids == 4}"
                class="list-group-item list-group-item-action py-2 ripple"
            >
                <i class="fas fa-user-circle fa-fw me-3"></i><span>Perfil</span>
            </a
          > -->
        </div>
      </div>
    </nav>
 

    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
  
        <a class="navbar-brand PersonLogo" (click)="rota(5)">
          PGLM
        </a>
      </div>
    </nav>
</header>