<div class="globalBox">
    <div class="boxContainer">
        <div class="container-fluid">
            <form class="d-flex input-group w-auto ">
              <input
                type="search"
                class="form-control inputperson"
                placeholder="Busque por marca, modelo, ano, cor..."
                aria-label="Search"
              />
              <span class="input-group-text border-0 bgPerson" id="search-addon">
                <i class="fas fa-search"></i>
              </span>
            </form>
        </div>
    </div>
</div>