.personBox {
    display: flex;
    flex-direction: row;
    position: relative;
    height: calc(100vh - 82.91px);
}

.bgPerson {
    background: url(../../../assets/img/marketing/loginCadastro/showroom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.container_tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.btn_tabs{
    border: 1px solid #3374db;
    padding: 8px 25px;
    margin: 10px;
    border-radius: 8px;
    color: #3374db ;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.ativo {
    background: #3374db;
    color: #fff;
    transition: ease-in-out 0.5s;
}

.box_conteudo_tab{
    margin-top: 30px;
    box-sizing: border-box;
    width: 100%;
}

.limit {
    max-width: 450px;
    min-width: 300px;
    width: 100%;
    box-sizing: border-box;
}

.error {
    color: red;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

@media (max-width: 767px) {
    .bgPerson {
        display: none;
    }
    .mobPerson {
        width: 100% !important;
    }

}

