<footer class="bg-dark text-center text-white ColorBg">
    <div class="container personContainer">
        <section class="pt-5 pb-5">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase personLogo text-start">PGLM</h5>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0 text-start">
                        <li>
                            <a (click)="menuRota(1)" class="text-white">Comprar carro</a>
                        </li>
                        <li>
                            <a (click)="menuRota(2)" class="text-white">Vender carro</a>
                        </li>
                        <li>
                            <a (click)="menuRota(3)" class="text-white">App PGLM</a>
                        </li>
                        <li>
                            <a (click)="menuRota(4)" class="text-white">Onde estamos</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0 text-start ">
                        <li>
                            <a (click)="menuRota(5)" class="text-white">Perguntas frequentes</a>
                        </li>
                        <li>
                            <a (click)="menuRota(6)" class="text-white">Blog</a>
                        </li>
                        <li>
                            <a (click)="menuRota(7)" class="text-white">Guia de preços</a>
                        </li>
                        <li>
                            <a (click)="menuRota(8)" class="text-white">Carreiras</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0 text-start">
                        <li>
                            <a (click)="menuRota(9)" class="text-white">Contato</a>
                        </li>
                        <li>
                            <a (click)="menuRota(10)" class="text-white">Imprensa</a>
                        </li>
                        <li>
                            <a (click)="menuRota(11)" class="text-white"><span class="subTextPrefixo">BR</span>Brasil</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="mb-4 text-start personMob">
            <a mdbRipple class="btn btn-light btn-floating m-1" (click)="menuRota(12)" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a mdbRipple class="btn btn-light btn-floating m-1" (click)="menuRota(13)" role="button">
                <i class="fab fa-instagram"></i>
            </a>
            <a mdbRipple class="btn btn-light btn-floating m-1" (click)="menuRota(14)" role="button">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a mdbRipple class="m-1" (click)="menuRota(15)" role="button">
                <img class="imgSize" src="../../../assets/img/social/app-store.svg">
            </a>
            <a mdbRipple class="m-1" (click)="menuRota(16)" role="button">
                <img class="imgSize" src="../../../assets/img/social/google-play.svg">
            </a>
        </section>
        <hr class="bgHr">

        <div class="col-lg-12 col-md-12 mb-md-0 p-2">
            <ul class="list-unstyled mb-0 text-start d-flex personFlex">
                <li>
                    <a (click)="menuRota(17)" class="text-white">Copyright © {{dateNow}} PGLM. Todos os direitos reservados.</a>
                </li>
                <li class="ps-4">
                    <a (click)="menuRota(18)" class="text-white">Política de Privacidade</a>
                </li>
                <li class="ps-4">
                    <a (click)="menuRota(19)" class="text-white">Termos e Condições</a>
                </li>
                <li class="ps-4">
                    <a (click)="menuRota(20)" class="text-white">Definições de cookies</a>
                </li>
            </ul>
        </div>

      <section class="mb-4 p-2 text-start">
        <p>
            PGLM TECNOLOGIA E COMERCIO DE VEICULOS LTDA., inscrita no CNPJ sob o nº 00.000.000/0001-00, Brasil Brasil, BRASIL/BR, CEP 00.000-080
        </p>
      </section>
    </div>
  </footer>
